[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "plugins/z"]
	path = plugins/z
	url = https://github.com/rupa/z.git
[submodule "plugins/fzf-tab"]
	path = plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".dotbot-plugins/dotbot-brew"]
	path = .dotbot-plugins/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule ".dotbot-plugins/dotbot-asdf"]
	path = .dotbot-plugins/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "plugins/complete-alias"]
	path = plugins/complete-alias
	url = https://github.com/cykerway/complete-alias
