[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@github.com:"]
    insteadOf = https://github.com/

[pull]
	rebase = false
[init]
	defaultBranch = main

[include]
    path = .gitlocalconfig

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
    path = .dotfiles/configs/git/github