[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@github.com:"]
    insteadOf = https://github.com/

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = foo.inc

[include]
    path = .gitlocalconfig

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
    path = .dotfiles/config/gitconfigs/github